<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Préstamos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrar Préstamo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Participante ID</ion-label>
          <ion-input [(ngModel)]="prestamoData.part_id" name="part_id" type="text" required disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Semana:</ion-label>
          <ion-select [(ngModel)]="prestamoData.semana" name="semana" required>
            <ion-select-option *ngFor="let semana of semanas" [value]="semana">
              {{ semana }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Préstamo:</ion-label>
          <ion-input [(ngModel)]="prestamoData.prestamo" name="prestamo" type="number" (ionChange)="calcularInteres()" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Interés (%):</ion-label>
          <ion-select [(ngModel)]="defaultInterest" name="defaultInterest" (ionChange)="calcularInteres()">
            <ion-select-option [value]="5">5%</ion-select-option>
            <ion-select-option [value]="10">10%</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Interés Total:</ion-label>
          <ion-input [(ngModel)]="prestamoData.interes" name="interes" type="number" min="0" step="0.01" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Fecha del Préstamo:</ion-label>
          <input type="date" [(ngModel)]="prestamoData.prestamofecha" name="prestamofecha" disabled />
        </ion-item>

        <ion-button expand="full" type="submit" color="primary">Registrar Préstamo</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
