<ion-content>
  <div class="login-container">
    <div class="login-card">
      <div class="logo-container">
        <img src="assets/images/BancoManoAmiga.jpg" class="logo-image">
      </div>
      <h1>BANCO MANO AMIGA</h1>
      
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input formControlName="usr_correo" type="email" class="custom-input" placeholder="Ingrese su correo" required></ion-input>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" class="custom-input" placeholder="Ingrese su contraseña" required></ion-input>
        </div>
        <ion-spinner *ngIf="isLoading" name="bubbles" class="loading-spinner"></ion-spinner>
        <ion-button expand="block" type="submit" [disabled]="loginForm.invalid || isLoading" class="login-button">
          INICIAR SESIÓN
        </ion-button>

      </form>
    </div>
  </div>
</ion-content>
